.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    color: black;
}
.directions{
    background-color: cyan;
    color: black;

}
.name{
    font-style: 'serif';
    font-size: 15px;
    color:black
}
.directions:hover{
    background-color: green;
    color: red;
}
.Aline{
    color: aquamarine;
}
.Alexis{
    color: aqua;
}
.SirM{
    color: cadetblue;
}
.MrsP{
    color: cornflowerblue;
}
.DrD{
    color: turquoise;
}
.MrWells{
    color: tomato;
}
.LadyS{
    color: springgreen;
}
.MrW{
    color: teal;
}
.name:hover{
    background-color: antiquewhite;
    color: red;
}
table{
    border: 1px;
    padding: 10px;
    margin: 45px 45px;
    width: 50%;
}

th{
    color:black;
    border: 5px mixed black;
    text-align: center;
    background-color: greenyellow
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
td{
    color: black;
    border: 1px mixed black;
    text-align: left;
  }
 
 

  

  ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.navbar-horizontal li {
    float: left;
    color: #000;
    background-color: red;
    border: 2px solid black;
    width: 150px;
  }
  
  ul.navbar-horizontal a {
    padding: 10px;
  }

 
 


  


